@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    min-height: 100vh;
    background-color: #1F2933;
    color: #1F2933;
}

.card-grid {
    display: grid;
    padding: 25px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 25px;
}

.card {
    background-color: #E4E7EB;
    border-radius: 25px;
    padding: 15px;
}

.task-title {
    margin: 0 auto; 
    display: block; 
    padding: 15px; 
    text-align: center; 
    font-size: large;
}

.task-description {
    margin: 0 auto; 
    display: block; 
    padding: 15px; 
    text-align: center; 
    font-size: large; 
    margin-top: 15px;
}

form > button {
    padding: 18px; 
    margin: 0 auto; 
    display: block; 
    font-size: 15px; 
    border-radius: 9999px; 
    margin-top: 30px; 
    outline: none; 
    min-width: 180px;
}

h1 {
    font-size: 52px;
    padding-top: 1em;
    margin-bottom: 15px;
}
h2, h3 {
    margin-top: 0;
    color: #323F4B;
}

.d-inline-block {
    display: inline-block;
}

.tc {
    text-align: center;
}

/* Container Styles */

@media (min-width: 576px){
    .container {
    max-width: 540px;
}}
        
@media (min-width: 768px){
    .container {
    max-width: 720px;
}}
         
@media (min-width: 992px){
    .container {
    max-width: 960px;
}}
        
@media (min-width: 1200px){
    .container {
    max-width: 1040px;
}}

@media (max-width: 576px) {
    .container {
        max-width: 90vw;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(245,245,245);
    min-height: 90vh;
    border-radius: 20px;
}